---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Programas from '../components/Programas.astro';
---

<Layout title="Alba Estrada">
	<Header />
	<Programas />

		  <!-- Biografia -->
		   <div id="biografia" class="w-full sm:flex justify-around mt-24 bg-white p-12">
			<div class="p-4 text-zinc-400">
				<h2 class="text-5xl uppercase font-extrabold text-black">Alba Estrada</h2>
				<p><span class="font-bold">+15 años</span>  de experiencia en el sector fitness</p>
				<p><span class="font-bold">+5000</span> personas entrenadas disfrutan del entrenamiento y sin dolor</p>
				<p><span class="font-bold">+200</span> entrenadores formados</p>

				<aside class="text-black mt-12 text-lg">
					<p>Soy Alba Estrada y te quiero contar por qué estoy aquí. En 2018, tras años luchando por mi sueño de ir a los Crossfit Games (y conseguirlo), me lesioné. Ahí modifiqué mi estilo de vida: cambié las horas de entrenamiento, por formación y emprendí. Todo bajo una premisa: <span class="font-bold">acompañar a tantas personas como pudiese para mejorar su estilo de vida.</span></p>

					<p class="mt-8">Hoy, casi 5 años después de ese revés, al mirar hacia atrás, doy gracias por haber tomado la decisión de compartirlo todo sin filtros: 3 centros oficiales TN, 1 plataforma de entrenamientos y formación online referente nacional, más de 100 seminarios presenciales impartidos, formación CFFC para entrenadores, divulgación de contenido en redes y +113k followers en Instagram, entre otros muchos progresos.</p>

					<p class="mt-8">Así que, aunque no sé muy bien cómo hablarte sobre mí, una cosa sí te puedo decir: solo estoy caminando mi camino y procurando dejarlo a cada paso más bonito de lo que lo encontré, con el fin de compartirlo con todo aquel que quiera acercarse.</p>
				</aside>
			</div>
			<div class="">
				<img src="/src/images/alba.jpg" alt="Entrenadora Alba Estrada">
			</div

		   </div>
		</div>
	  </div>
	</div>
	
  </Layout>
  
  