---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Programas from '../components/Programas.astro';
import Biografia from '../components/Biografia.astro';
---

<Layout title="Alba Estrada">
	<Header />
	<Programas />
	<Biografia />

	<!-- Colaboradores -->
	<div class="bg-[#0d0d0d] min-h-96 flex justify-center items-center">
		<div class="flex flex-wrap gap-8 max-w-48 md:max-w-full justify-center items-center">
			<div class="w-36">
				<img src="assets/logo_cbd.png" class="w-full" alt="Logo CBD">
			</div>
			<div class="w-52">
				<img src="assets/logo_picsil.png" class="w-full object-cover"alt="">
			</div>
			<div class="w-36">
				<img src="assets/logo_lifepro.png" class="w-full object-cover"alt="">
			</div>
		</div>
	</div>

	
	
  </Layout>
  
  